.feynman__link {
    text-decoration: none;
    color: #2f80ed;
    position: absolute;
    right: 48px;
    top: 50%;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    z-index: 1;
}