.two-columns__paragraph {
    margin: 30px 0 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 95%; /* для того что бы текст переносился точно как в макете */
}

.two-columns__paragraph:first-child {
    margin: 0;
}