.khan__buy-link {
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    vertical-align: top;
    margin: 0 0 0 48px;
    padding: 0;
    color: #2f80ed;
    text-decoration: none;
}